# Python virtual environment
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# Dataset files (if you want to exclude them)
*.csv
*.xlsx
*.xls

# Logs
*.log

# Cache directories
.cache/ 